@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<section class="socials-section">
    <div class="content-wrapper">
        <div class="text-section">
            <h2>Privacy Policy</h2>
            <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sodales sodales dignissim. Nam at erat arcu.
                Vestibulum vel ligula nec nisi efficitur aliquam eget auctor ipsum. Vestibulum laoreet ligula sed pharetra accumsan.
                Aliquam accumsan purus non rutrum varius. Vivamus bibendum dapibus orci, ac sodales nunc eleifend sit amet. Nullam pretium
                mauris et dolor commodo suscipit. Vestibulum hendrerit ante ut neque placerat molestie. Aenean sed tellus rhoncus, feugiat
                enim sed, accumsan purus. Aenean felis orci, dictum eget tellus sit amet, tincidunt rhoncus nibh. Vestibulum nisi justo.
            </p><br />
            <p class="description">
                Sed maximus eros id justo gravida, non posuere turpis ultrices. Praesent a pretium metus. Nulla facilisi. In hac habitasse
                platea dictumst. Suspendisse consectetur nunc non justo fringilla accumsan vitae at sapien. Vestibulum ante ipsum primis in
                faucibus orci luctus et ultrices posuere cubilia curae; Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                per inceptos himenaeos. Suspendisse porttitor vulputate eros eu mattis. Nam faucibus mollis tempus. Morbi vel congue risus.
                Proin eros diam, sagittis vel lobortis ut, eleifend vitae sapien. Nullam sed vestibulum erat, in tristique diam. Vivamus in
                risus semper, ultricies quam a, aliquam orci.
            </p>
        </div>
        <div class="image-section">
            <img src="~/images/prods.jpg" alt="Social Image" />
        </div>
    </div>
</section>