@page
@model CapstoneCC.Pages.SocialsModel
@{
    ViewData["Title"] = "Talk to Us";
}

<section class="socials-section">
    <div class="content-wrapper">
        <div class="text-section">
            <h2>Talk to Us</h2>
            <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <div class="social-links">
                <a href="https://www.facebook.com/camziescollections" target="_blank">FACEBOOK</a>
                <a href="">|</a>
                <a href="https://bit.ly/3Uf6PzE" target="_blank">TIKTOK</a>
                <a href="">|</a>
                <a href="https://shopee.ph/camzieararacap" target="_blank">SHOPEE</a>
                <a href="">|</a>
                <a href="mailto:camziescollections@yahoo.com">EMAIL</a>
            </div>
        </div>
        <div class="image-section">
            <img src="~/images/prods.jpg" alt="Social Image" />
        </div>
    </div>
</section>
